@{
    ViewData["Title"] = "Sobre";
}

<h1 class="text-center mb-4">Sobre a AtmoTrack</h1>

<h2 class="mt-4">A História da AtmoTrack</h2>
<p class="text-justify">A AtmoTrack nasceu a partir de um projeto de Aprendizagem Baseada em Problemas (PBL), que uniu conhecimentos de diversas disciplinas, como Sistemas Embarcados, Lógica de Programação, Fenômenos de Transporte, Automação e Controle, e Mecânica dos Sólidos. O principal objetivo deste projeto era desenvolver um dispositivo inovador que fosse capaz de monitorar e controlar a temperatura em uma estufa de rolamentos, utilizando tecnologia de ponta.</p>
<p class="text-justify">O projeto foi idealizado por um grupo de estudantes de Engenharia de Computação da FESA - Faculdade Engenheiro Salvador Arena. Os integrantes, ARTHUR HENRIQUE TONIATTI, GUSTAVO DE ALMEIDA BECK, DIEGO DE SOUZA LIMA, FELIPE ANTONIO DOS SANTOS, LUAN FERREIRA GARDINGO e FELIPE SILVA DE OLIVEIRA, uniram forças para criar um sistema de monitoramento que fosse não apenas eficiente, mas também acessível e escalável. O entusiasmo do grupo e a diversidade de conhecimentos adquiridos ao longo do curso foram cruciais para o desenvolvimento do projeto.</p>

<h2 class="mt-4">Desenvolvimento do Projeto</h2>
<p class="text-justify">A proposta deste projeto envolve a criação de um sistema de monitoramento IoT para um protótipo em escala reduzida de uma estufa de secagem. Este protótipo é equipado com uma resistência de aquecimento e sensores de temperatura, funcionando como um modelo para o desenvolvimento e teste de um sistema de controle e monitoramento térmico baseado em dispositivos IoT. O design e a implementação do sistema foram desafiadores, pois envolveram a integração de hardware e software, além da necessidade de realizar testes em condições reais de produção.</p>
<p class="text-justify">O protótipo consiste em uma resistência de 6 Ohms com potência de 50W, utilizada para o aquecimento, acoplada a um dissipador de calor e a um sensor de temperatura LM35. A figura abaixo ilustra o protótipo da estufa de secagem:</p>

<p class="text-justify">O protótipo oferece dois modos de processamento: interno e externo. No modo interno, o controlador é processado diretamente pelo microcontrolador Atmega328P. Já no modo externo, o Atmega328P atua como um intermediário, transmitindo e recebendo dados de um controlador externo, como o ESP32. Essa flexibilidade permite que o sistema seja adaptado a diferentes cenários e necessidades operacionais.</p>
<p class="text-justify">É importante destacar que o ESP32 opera em uma faixa de tensão de 0V a 3.3V, enquanto o protótipo fornece tensão em uma faixa de 0V a 10V. Ambos os modos de operação seguem um diagrama de blocos que representa o funcionamento geral da estufa e do seu sistema de controle.</p>

<h2 class="mt-4">Objetivos Futuros</h2>
<p class="text-justify">A AtmoTrack se propõe a desenvolver uma solução robusta e escalável que possibilite o monitoramento remoto e em tempo real das condições de temperatura. Esse sistema permitirá que engenheiros e operadores monitorem os parâmetros térmicos críticos em qualquer unidade de fabricação, independentemente de sua localização. Com isso, buscamos contribuir para a melhoria da eficiência produtiva e a redução de custos operacionais em indústrias de diferentes setores.</p>

<h2 class="mt-4">Conclusão</h2>
<p class="text-justify">A trajetória da AtmoTrack está apenas começando, mas já trazemos uma bagagem de aprendizado e inovação que promete revolucionar o mercado de monitoramento ambiental. O comprometimento do nosso grupo, aliado à formação acadêmica e à prática em projetos reais, nos coloca em uma posição privilegiada para impactar positivamente o setor industrial.</p>
